@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans&display=swap');

$primary-font: 'Didact Gothic';
$secondary-font: 'Open Sans';

$primary-color: #a2b9bc;
$secondary-color: #e7f1f3;

$input-padding: 0.8rem 1.2rem;
